@CHARSET'UTF-8';

body { background-image: linear-gradient(to left, orange, white); }


h3{
backgrand-color: white;
color:green;
font-size: 17pt;
fot-family: coper Black;
}

h2{
backgrand-color: white;
color:red ;
font-size: 20pt;
fot-family: coper Black;
font-weight: Bold;
}
